@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 285 43% 95%;
    --foreground: 275 50% 20%;
    --card: 285 43% 100%;
    --card-foreground: 275 50% 20%;
    --popover: 285 43% 100%;
    --popover-foreground: 275 50% 20%;
    --primary: 275 100% 25%;
    --primary-foreground: 285 43% 95%;
    --secondary: 283 49% 88%;
    --secondary-foreground: 283 49% 30%;
    --muted: 283 49% 92%;
    --muted-foreground: 283 40% 50%;
    --accent: 283 49% 47%;
    --accent-foreground: 285 43% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 283 30% 85%;
    --input: 283 30% 90%;
    --ring: 283 49% 47%;
    --chart-1: 275 100% 25%;
    --chart-2: 283 49% 47%;
    --chart-3: 283 49% 67%;
    --chart-4: 283 49% 77%;
    --chart-5: 283 49% 87%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 275 30% 10%;
    --foreground: 285 43% 95%;
    --card: 275 30% 13%;
    --card-foreground: 285 43% 95%;
    --popover: 275 30% 13%;
    --popover-foreground: 285 43% 95%;
    --primary: 283 49% 60%;
    --primary-foreground: 275 30% 10%;
    --secondary: 283 40% 25%;
    --secondary-foreground: 285 43% 95%;
    --muted: 283 40% 20%;
    --muted-foreground: 285 40% 65%;
    --accent: 283 49% 47%;
    --accent-foreground: 285 43% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 283 40% 25%;
    --input: 283 40% 25%;
    --ring: 283 49% 57%;
    --chart-1: 283 49% 47%;
    --chart-2: 275 100% 35%;
    --chart-3: 283 49% 67%;
    --chart-4: 285 43% 75%;
    --chart-5: 285 43% 85%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
